* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  background-image: url(/backgnd_img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
table {
  width: 80%;
  margin: 40px auto;
  font-size: 1.1rem;
  background-color: rgb(180, 172, 146);
}
table.list {
  text-align: center;
  width: 100%;
}
td {
  border: 2px solid black;
  text-align: left;
  padding: 8px 15px;
}
tr:nth-child(even),
table.list thead {
  background-color: blanchedalmond;
}
label {
  font-weight: 900;
}
input[type="text"],
input[type="number"] {
  width: 91%;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  border: 2px solid grey;
  border-radius: 5px;
}
input[type="submit"],
input[type="reset"] {
  background-color: rgb(232, 162, 75);
  font-size: 1.01rem;
  font-weight: 600;
  width: 20%;
  padding: 8px;
  margin: 8px;
  display: inline-block;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
}
input[type="submit"]:hover {
  background-color: rgb(250, 148, 23);
}
input[type="reset"]:hover {
  background-color: rgb(250, 148, 23);
}
button {
  background-color: rgb(232, 162, 75);
  font-size: 0.8rem;
  font-weight: 700;
  width: 40%;
  padding: 8px;
  margin: 8px;
  display: inline-block;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
}
button:hover {
  background-color: rgb(250, 148, 23);
}
